@font-face {
  font-family: Clash;
  src: url('../public/fonts/ClashDisplay-Regular.ttf');
}
  .Clash{
    font-family:Clash; 
  
}


@font-face {
  font-family: ClashDisplay;
  src: url('../public/fonts/ClashDisplay-Semibold.ttf');
}
  .ClashDisplay{
    font-family:ClashDisplay; 
  
}

